<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>FCU COURSE</title>
    <link rel="icon" href="/static/images/FF.png" type="image/icon">
    <style>
        .courseList {
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-y: scroll;
        }

        .courseList::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body class="h-screen bg-slate-100">
    <div class="flex items-center max-[520px]:ml-8 min-[520px]:ml-24 h-1/4">
        <div>
            <div class="font-bold text-4xl text-gray-600">General Studies</div>
            <div class="font-medium text-lg text-gray-400 mt-6 px-1 border-b-4 border-gray-400"
                style="width: 122px; letter-spacing: 10px;">通識課程</div>
        </div>
    </div>
    <div class="h-3/4">
        <div id="courseList" class="courseList mx-8 min-[520px]:mx-24 p-5 rounded-xl h-[calc(100vh_-_19rem)] overflow-auto"
            style="background-color: #dfe7d5;">
        </div>
    </div>
    <script src="/static/script/generalStudies.js"></script>
    <script>
        let courseData = {{ courseData| tojson | safe }};
        getGeneralStudies(courseData);
    </script>
</body>

</html>