<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>FCU COURSE</title>
    <link rel="icon" href="/static/images/FF.png" type="image/icon">
</head>

<body class="h-screen bg-slate-100">
    <div class="flex justify-center">
        <div class="my-20">
            <div class="flex justify-center items-center">
                <img src="/static/images/FCU.png" alt="" class="hover:scale-75 duration-500 max-[410px]:ml-16" width="120px">
                <span class="font-bold tracking-wider text-4xl text-gray-600 ml-4">Course Search</span><br>
            </div>
        </div>
    </div>
    <div class="flex justify-center max-[1040px]:flex-col max-[1040px]:items-center">
        <div class="mx-8 my-4 pt-10 w-80 bg-slate-200 rounded-lg drop-shadow-lg cursor-pointer hover:bg-lime-50 hover:-translate-y-1 hover:scale-110 duration-300"
            id="courseNumber">
            <a href="">
                <div class="flex justify-center items-center my-8 p-5 bg-white">
                    <i class="bi bi-search-heart" style=" font-size: 40px;" id="icon1"></i>
                </div>
                <div class="flex justify-center">
                    <div class="pb-10">
                        <span class="font-bold text-2xl text-gray-600">Course Number</span><br>
                        <span class="font-medium text-sm text-gray-400">選課代號</span>
                    </div>
                </div>
            </a>
        </div>
        <div
            class="mx-8 my-4 pt-10 w-80 bg-slate-200 rounded-lg drop-shadow-lg cursor-pointer hover:bg-lime-50 hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="/generalstudies">
                <div class="flex justify-center items-center my-8 p-5 bg-white">
                    <i class="bi bi-dropbox" style=" font-size: 40px;"></i>
                </div>
                <div class="flex justify-center">
                    <div class="pb-10">
                        <span class="font-bold text-2xl text-gray-600">General Studies</span><br>
                        <span class="font-medium text-sm text-gray-400">通識課程</span>
                    </div>
                </div>
            </a>
        </div>
        <div
            class="mx-8 my-4 pt-10 w-80 bg-slate-200 rounded-lg drop-shadow-lg cursor-pointer hover:bg-lime-50 hover:-translate-y-1 hover:scale-110 duration-300">
            <a href="">
                <div class="flex justify-center items-center my-8 p-5 bg-white">
                    <i class="bi bi-journal-check" style=" font-size: 40px;"></i>
                </div>
                <div class="flex justify-center">
                    <div class="pb-10">
                        <span class="font-bold text-2xl text-gray-600">Follow Courses</span><br>
                        <span class="font-medium text-sm text-gray-400">關注課程</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div
        class="flex items-end justify-center min-[1px]:h-[calc(100vh_-_38.5rem)] min-[1040px]:h-[calc(100vh_-_35.5rem)] p-4 text-gray-400">
        <span class="p-2">
            <a href="https://github.com/ridemountainpig">
                <i class="bi bi-battery-full text-green-500"></i> Power By ridemountainpig
            </a>
        </span>
        <a href="https://github.com/ridemountainpig/fcu-course-search" class="p-2 bg-white rounded-lg"><span><i
                    class="bi bi-code"></i> github</span></a>
    </div>
</body>

</html>